<section class="sns">
  <h2 class="cmn-sec_ttl cmn-ff-mont is-ita">
    FOLLOW US
  </h2>
  <ul class="sns_list">
    <li class="sns_item">
      <a class="btn" href="https://www.facebook.com/7netshopping.jp/" target="_blank">
        <svg
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 79.702316 78.871826"
        >
        <defs
        id="defs2" />
        <g
        id="layer1"
        transform="translate(-47.855232,-94.000796)">
        <path
        style="fill:#1877f2;stroke-width:0.52916664"
        d="m 75.784221,171.87366 c -18.275343,-5.91534 -30.083497,-24.2862 -27.599989,-42.93942 2.207043,-16.57675 13.794232,-29.84452 29.593061,-33.88518 5.525605,-1.41321 14.370654,-1.39533 19.984284,0.0404 13.465483,3.44389 24.014073,13.60311 28.292083,27.24775 1.57417,5.02081 1.9867,13.96297 0.88318,19.14425 -1.72775,8.11219 -5.12836,14.42336 -10.93596,20.29598 -4.55761,4.60864 -9.61957,7.80261 -15.43913,9.7417 -6.890193,2.29583 -6.256693,3.57862 -6.256693,-12.66943 v -14.02292 h 4.66128 4.661293 l 0.68988,-4.87428 c 0.37944,-2.68086 0.80765,-5.18117 0.95158,-5.55625 0.20342,-0.5301 -0.98825,-0.68197 -5.351173,-0.68197 h -5.61286 v -4.5242 c 0,-7.26976 1.27073,-8.70497 7.707363,-8.70497 h 3.40514 v -5.00311 -5.0031 l -1.98438,-0.37391 c -1.0914,-0.20564 -4.008443,-0.38063 -6.482293,-0.38885 -7.21427,-0.024 -11.90145,2.69389 -14.31283,8.2993 -0.898429,2.08845 -1.21626,4.12395 -1.435077,9.19071 l -0.281066,6.50813 h -4.685513 -4.685513 v 5.55625 5.55625 h 4.7625 4.762499 v 14.02291 14.02292 l -1.190625,-0.0285 c -0.654843,-0.0157 -2.500312,-0.45237 -4.101041,-0.9705 z"
        id="path3726"
        inkscape:connector-curvature="0" />
        <path
        style="fill:#1877f2;stroke-width:0.26458332"
        d=""
        id="path3724"
        inkscape:connector-curvature="0" />
      </g>
    </svg>
  </a>
</li>
<li class="sns_item">
  <a class="btn" href="https://7net.omni7.jp/general/sns/line7net/" target="_blank">
    <img src="/assets/img/common/ft_line_icon.png" alt="LINE">
  </a>
</li>
<li class="sns_item">
  <a class="btn" href="https://twitter.com/7_netshopping" target="_blank">
    <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.83334 105.83334">
    <defs
    id="defs2" />
    <g id="layer1"
    transform="translate(-48.380944,-59.630957)">
    <path
    style="fill:#1da1f2;stroke-width:0.26458335"
    d="M 48.380944,112.54763 V 59.630957 h 52.916666 52.91667 v 52.916673 52.91666 H 101.29761 48.380944 Z m 48.683337,26.06342 c 1.0914,-0.23933 3.228709,-0.8484 4.749569,-1.3535 14.41684,-4.788 24.90255,-18.92352 25.5917,-34.49951 l 0.15803,-3.571873 2.41129,-2.27949 c 1.3262,-1.25372 2.80257,-2.82703 3.28082,-3.49625 l 0.86953,-1.21677 -0.91658,0.38297 c -0.99422,0.41541 -4.23715,1.30341 -5.70308,1.56166 -0.89782,0.15816 -0.88257,0.13312 0.9924,-1.62908 2.50072,-2.35032 4.95124,-6.42158 3.15795,-5.24658 -0.87935,0.57618 -4.05462,1.83832 -5.94077,2.36142 l -1.64392,0.45591 -1.43322,-1.16736 c -2.64664,-2.15573 -5.22006,-3.07255 -8.64039,-3.07829 -7.83742,-0.0131 -13.96927,6.61495 -13.38797,14.471433 l 0.16114,2.17791 -1.257939,-0.1487 C 89.56688,101.15925 82.323403,97.792167 75.703419,91.267307 l -2.972317,-2.92961 -0.52258,1.21477 c -0.756308,1.75808 -1.059599,3.2962 -1.066942,5.41092 -0.01302,3.74863 1.379698,7.019833 4.101395,9.633343 l 1.667169,1.60089 h -1.043779 c -1.094832,0 -4.075126,-0.89241 -4.698164,-1.40681 -0.304669,-0.25154 -0.331786,-0.0649 -0.166867,1.14854 0.768073,5.65135 4.003061,9.74215 9.122471,11.5358 2.151031,0.75364 1.706359,1.00834 -1.778127,1.01848 -1.3457,0.004 -2.447028,0.10952 -2.447396,0.23467 -0.0021,0.70516 1.927746,3.67672 3.209182,4.94152 1.958324,1.93291 4.204758,3.10432 7.063777,3.68343 l 2.294081,0.46468 -1.852084,1.19357 c -4.791041,3.08759 -9.367809,4.4614 -14.922092,4.47919 -3.362157,0.0108 -3.361303,-0.0419 -0.02687,1.65675 3.542747,1.80474 7.109913,2.97911 11.377084,3.74552 2.71295,0.48727 11.302751,0.31458 14.022921,-0.28191 z"
    id="path28"
    inkscape:connector-curvature="0" />
  </g>
</svg>
</a>
</li>
</ul>
</section>
