<nav id="pc-subNavi" class="pc-subNavi">
      <ul class="pc-subNaviList">
        <li class="pc-subNaviItem">
          <a data-pjax href="" class="btn">
            <span class="btn-txt">
            <span class="cmn-ff-mont en">SUB</span>
            <span class="ja">サブページ</span>
            </span>
          </a>
        </li>
        <li class="pc-subNaviItem">
          <a data-pjax href="/recruit/guideline/" class="btn">
            <span class="btn-txt">
            <span class="cmn-ff-mont en">SUB</span>
            <span class="ja">サブページ</span>
            </span>
          </a>
        </li>
      </ul>
</nav>
